<%- include('partials/header') %>

    <div class="container">

        <div class="row mt-5">
            <h1 class="text-center border-botton">Lista de Reservas</h1>
            <div class="col">
                <div class="col-md-3 mb-2">
                    <a href="/nueva-reserva" class="btn btn sm btn-primary" id> Nueva Reserva de Vuelo </a>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>codigo</th>
                            <th>nombre</th>
                            <th>apellido</th>
                            <th>telefono</th>
                            <th>destino</th>
                            <th>costo</th>
                            <th>fecha_solicitud</th>
                            <th>fecha_vuelo</th>
                        </tr>
                    </thead>
                    <tbody id="listadoReservas">
          
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<script src="js/listado.reservas.js"></script>

<%- include('partials/footer') %>